extends layout

block content
  h1= title
  h3 Welcome to Ankith Jain Full NodeJS #{title} CRUD Application with JSON API
  p
    a.btn.btn-primary(href="/products/") PRODUCTS CRUD MODULE
  p
    a.btn.btn-primary(href="/api/products/") PRODUCTS API DATA

  p
    a.btn.btn-primary(href="/customers/") CUSTOMERS CRUD MODULE

  p
    a.btn.btn-primary(href="/api2/customers/") CUSTOMERS API DATA